body
  display: flex
  min-height: 100vh
  flex-direction: column
  align-items: center
  justify-content: center

main
  flex: 1

footer
  > p
    color: gainsboro
    text-shadow: 0 1px 2px black

  > a:link, a:visited
    color: gainsboro
    text-decoration-skip-ink: auto;

.gallery:before
  content: ""
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: -1

  // display: block
  background: var(--next_pic)
  background-size: cover
  width: 100%
  height: 100%
  filter: blur(20px)
  transition: background 0.3s ease

.gallery
  --next_pic: url(../media/images/logan/3.jpg) no-repeat center center fixed
  overflow: auto
  position: relative
  transition: background 0.3s ease

  > img
    position: fixed
    object-fit: contain
    margin: auto
    top: 0
    right: 0
    bottom: 0
    left: 0
    height: calc(100vh - 8em)
    transition: background 0.3s ease
    max-width: 90vw

.controls
  height: 4em
  display: flex
  align-items: center
  justify-content: center

  > button
    margin: 0 0.4em
    padding: 0.4em
    width: 4em
    border: 0
    color: gainsboro
    text-shadow: 0 1px 2px black
    background: none
    cursor: pointer
    outline: none

.navigate
  position: absolute
  height: 100vh
  width: 20vw
  background-color: rgba(0, 0, 0, 0)
  cursor: pointer
  animation: flicker 3s 3

  &:hover
    background-color: rgba(0, 0, 0, 0)
    animation: flicker 3s infinite

.navigate_left
  @extend .navigate
  left: 0

.navigate_right
  @extend .navigate
  right: 0

@keyframes flicker
  0%
    background-color: rgba(0, 0, 0, 0)
  50%
    background-color: rgba(0, 0, 0, 0.3)
  100%
    background-color: rgba(0, 0, 0, 0)