<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Rishav Dhar")
    title Logan the Doggo
    link(href="./styles/main.min.css", rel="stylesheet", type="text/css", media="screen")
  body
    main
      .controls
        button(onclick="view_previous()") ⟵
        button(onclick="view_random()") ?
        button(onclick="view_next()") ⟶
      .gallery
        img(src="")
    .navigate_left(onclick="view_previous()")
    .navigate_right(onclick="view_next()")
    footer
      p &copy; 2018 All woofs reserved by #[a(href="https://www.instagram.com/markybar/") Logan].
      
    script(src="./scripts/main.min.js")
    //- Source: https://perishablepress.com/3-ways-preload-images-css-javascript-ajax/
    script.
      <!--//--><![CDATA[//><!--
        var images = new Array()
        function preload() {
          for (i = 0; i < preload.arguments.length; i++) {
            images[i] = new Image()
            images[i].src = preload.arguments[i]
          }
        }
        preload(
          "./media/images/logan/1.jpg",
          "./media/images/logan/2.jpg",
          "./media/images/logan/3.jpg",
          "./media/images/logan/4.jpg",
          "./media/images/logan/5.jpg",
          "./media/images/logan/6.jpg",
          "./media/images/logan/7.jpg",
          "./media/images/logan/8.jpg",
          "./media/images/logan/9.jpg",
          "./media/images/logan/10.jpg",
          "./media/images/logan/11.jpg",
        )
      //--><!]]>